* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header {
  position: fixed;
  z-index: 1030; }

.headerBar {
  position: relative;
  width: 100vw;
  height: 12vh; }

.headerBarBackground {
  background-color: #517A52; }

.logoSize {
  position: absolute;
  top: 22%;
  width: 225px;
  float: left; }

.logo {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  color: white; }

/*Menu button*/
.buttonPosition {
  position: absolute;
  top: 22%;
  right: 5%;
  width: 62px;
  float: right; }

.btn {
  padding: 0.5em 0.8em;
  border-radius: 7px; }

.btnMenu {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid white; }

/*Nav*/
.menu {
  display: none;
  list-style-type: none;
  text-align: center; }

.menuSize {
  width: 100vw; }

.menuItem {
  background-color: #517A52;
  border-top: 1px solid white; }

.menuItemSize {
  padding: 0.75em; }

.menuItemLink {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: white; }

.menuItemLinkClick {
  padding: 0.7em 4.9em; }

/*Main*/
/*Feature Content*/
.backgroundImg {
  background-image: url(../img/leaf-bush.png);
  background-size: cover;
  background-position: right bottom; }

.backgroundImgSize {
  height: 100vh; }

.row1 {
  width: 100vw;
  position: relative; }

.rowContent {
  position: absolute;
  top: 32%;
  right: 10%;
  width: 80%; }

.rowHeading {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: white; }

.row1HeadingSize {
  width: 100%; }

.JoinBtnPosition {
  margin: 27px auto 0 auto;
  width: 145px; }

.btnPrimary {
  width: 145px;
  height: 38px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  background-color: #FF5109;
  border: none;
  border-radius: 6px; }

.textBlurb {
  width: 258px;
  margin: 24px auto; }

.bodyText {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300; }

.featureImg2Wrapper {
  display: none; }

.footer {
  width: 100vw;
  padding: 26px 20px;
  margin-top: 5%;
  background-color: #517A52; }

.copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: white; }

/*Our Mission*/
.filler {
  background-color: white;
  height: 11vh; }

.heading {
  position: relative;
  width: 100vw;
  height: 20vh;
  margin-bottom: 9%;
  background-color: #629462; }

.h2 {
  padding: 11%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  color: white; }

.h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 17px; }

.ourMissionH3 {
  font-weight: 400;
  margin-top: 15px; }

.imgStaff {
  background-position: center;
  background-size: cover;
  background-image: url(../img/lara-and-leon.png); }

.imgBoxSize {
  width: 82vw;
  height: 44vh;
  margin: 0 auto; }

.imgRata {
  background-position: center;
  background-size: cover;
  background-image: url(../img/Rata.png); }

/*Field Trips*/
.tripMesssage {
  display: none; }

.tripsH3 {
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center; }

.map {
  width: 264px;
  margin: 0 auto; }

.tripDetails {
  margin: 0 34px 22px 34px; }

.attendButtonWrapper {
  margin: 34px 67px;
  text-align: center; }

.attendBtn {
  padding: 9px 39px;
  text-decoration: none; }

@media only screen and (min-width: 768px) {
  .headerBar {
    height: 11vh; }

  .logoSize {
    top: 26%;
    left: 5%;
    width: 241px; }

  .logo {
    font-size: 24px; }

  .buttonPosition {
    top: 34%;
    width: 99px; }

  .btn {
    padding: 0.6em 1.2em; }

  .btnMenu {
    font-size: 16px; }

  .menuItemSize {
    padding: 1.05em; }

  .imgOpacity {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5; }

  .backgroundImgSize {
    height: 63vh; }

  .card {
    width: 768px;
    height: 379px;
    margin: auto; }

  .rowContent {
    top: 39%;
    right: 21%;
    width: 57%; }

  .rowHeading {
    font-size: 30px; }

  .blurbContainer {
    float: left; }

  .textBlurb {
    width: 385px;
    margin: 21px 0; }

  .homeText {
    padding: 38px; }

  .featureImg2Wrapper {
    display: block;
    float: right; }

  .featureImg2 {
    background-position: center;
    background-size: cover;
    background-image: url(../img/walking.png); }

  .boxImg {
    height: 379px;
    width: 379px; }

  .footer {
    padding: 31px 20px;
    margin: 0; }

  /*Our Mission*/
  .heading {
    height: 12vh;
    margin-bottom: 0; }

  .h2 {
    padding: 6%; }

  .imgStaffWrapper {
    height: 379px;
    width: 379px;
    float: left; }

  .card1Text {
    float: right;
    padding: 32px 70px; }

  .card2Text {
    padding: 81px 76px; }

  .imgRataWrapper {
    height: 379px;
    width: 379px;
    float: right; }

  /*Field Trips*/
  .tripMesssage {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 300;
    display: block;
    margin: 56px 130px; }

  .floatRightTrips {
    width: 263px;
    float: right; }

  .tripCard {
    width: 586px;
    height: 316px;
    margin: 35px auto; }

  .tripDetails {
    width: 240px; }

  .map {
    height: 249px;
    width: 256px; }

  .attendButtonWrapper {
    margin: 49px 0; } }
/*Tablet query ends**/
@media only screen and (min-width: 1920px) {
  .headerBar {
    background-color: white; }

  .logoSize {
    top: 33%;
    left: 42%;
    width: 14%; }

  .logo {
    color: #517A52; }

  .buttonPosition {
    display: none; }

  .menu {
    display: block;
    background-color: #517A52; }

  .menuItem {
    display: inline-block;
    border: none; }

  .menuItemLinkClick {
    padding: 0; }

  .rowContent {
    right: 36%;
    width: 29%; }

  .rowHeading {
    font-size: 40px; }

  .backgroundImgSize {
    height: 100vh; }

  .card {
    width: 826px;
    height: 441px;
    border: 4px solid grey;
    overflow: auto;
    padding: 27px;
    margin: 26px auto; } }

/*# sourceMappingURL=style.css.map */
