$mainFont-Family: 'Open Sans', sans-serif;
$primaryColor: #517A52;
$secondaryColor: #FF5109;
$tertiaryColor: #629462;
$quaternaryColor: white;
$quinaryColor: #C8C8C8;

@mixin mainBtn {
  width: 145px;
  height: 38px;
  font-family: $mainFont-Family;
  font-size: 14px;
  color: $quaternaryColor;
  background-color: $secondaryColor;
  border: none;
  border-radius: 6px;
}

@mixin bodyText {
  font-family: $mainFont-Family;
  font-size: 16px;
  font-weight: 300;
}

@mixin imgSettings {
  background-position:center;
  background-size: cover;
}

@mixin tabletImgSize{
  height: 379px;
  width: 379px;
}

@mixin message {
  font-size: 17px;
  font-weight: 300;
}

@mixin border {
  border: 3px solid $quinaryColor;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.header {
  position: fixed;
  z-index: 1030;
}

.headerBar {
  position: relative;
  width: 100vw;
  height: 12vh;
}

.headerBarBackground {
  background-color: $primaryColor;
}

.logoSize {
  position: absolute;
  top: 22%;
  width: 225px;
  float: left;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $quaternaryColor;
}

/*Menu button*/
.buttonPosition {
  position: absolute;
  top: 22%;
  right: 5%;
  width: 62px;
  float: right;
}

.btn {
  padding: 0.5em 0.8em;
  border-radius: 7px;
}

.btnMenu {
  font-family: $mainFont-Family;
  font-size: 0.8em;
  text-transform: uppercase;
  color: $quaternaryColor;
  background-color: transparent;
  border: 2px solid $quaternaryColor;
}

.btnMenuClicked {
  color: $primaryColor;
  background-color: $quaternaryColor;
}

/*Nav*/
.menu {
  display: none;
  list-style-type: none;
  text-align: center;
}

.menuSize {
  width: 100vw;
}

.menuItem {
  background-color: $primaryColor;
  border-top: 1px solid $quaternaryColor;
}

.menuItemSize {
  padding: 0.75em;
}

.menuItemLink {
  text-decoration: none;
  font-family: $mainFont-Family;
  font-size: 17px;
  color: $quaternaryColor;
}

.menuItemLinkClick {
  padding: 0.7em 4.9em;
}

/*Main*/
/*Index*/

.main {
  font-family: $mainFont-Family;
}

.backgroundImg {
  background-image: url(../img/leaf-bush.png);
  background-size: cover;
  background-position: right bottom;
}

.backgroundImgSize{
  height: 100vh;
}

.row1 {
  width: 100vw;
  position: relative;
}

.rowContent {
  position: absolute;
  top: 32%;
  right: 10%;
  width: 80%;
}

.rowHeading {
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color:$quaternaryColor;
}

.row1HeadingSize {
  width: 100%;
}

.JoinBtnPosition {
  margin: 27px auto 0 auto;
  width: 145px;
}

.btnPrimary {
  @include mainBtn;
}

.textBlurb {
  width: 258px;
  margin: 24px auto;
}

.bodyText {
  @include bodyText;
}

.featureImg2Wrapper {
  display: none;
}

.footer {
  width: 100vw;
  padding: 26px 20px;
  margin-top: 5%;
  background-color: $primaryColor;
}

.copyright {
  font-family: $mainFont-Family;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: $quaternaryColor;
}

/*Our Mission*/

.filler {
  background-color: $quaternaryColor;
  height: 11vh;
}

.heading {
  position: relative;
  width: 100vw;
  height: 109px;
  margin-bottom: 9%;
  background-color: $tertiaryColor;
}

.h2 {
  padding: 39px;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  color: $quaternaryColor;
}

.memberh3 {
  font-size: 17px;
}

.ourMissionH3 {
  font-weight: 400;
  margin-top: 15px;
}

.imgStaff {
  @include imgSettings;
  background-image: url(../img/lara-and-leon.png);
}

.imgBoxSize {
  width: 82vw;
  height: 44vh;
  margin: 0 auto;
}

.imgRata {
  @include imgSettings;
  background-image: url(../img/rata.png);
}

/*Field Trips*/

.mapBorder {
  border: 0px;
}

.tripMessage {
  display: none;
}

.tripsH3 {
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
}

.map {
  width: 264px;
  margin: 0 auto;
}

.tripDetails {
  margin: 0 34px 22px 34px;
}

.attendButtonWrapper {
  margin: 34px 67px;
  text-align: center;
}

.attendBtn {
  padding: 9px 39px;
  text-decoration: none;
}

/*Meetings*/
.meetingMargin {
  margin-top: 10px;
}

/*Membership*/

.memberPerks {
  display: none;
}

.membershipRightContent {
  width: 85vw;
  margin: 0 auto;
}

.memberSubmit {
  margin: 4% 22%;
}

.tcs {
  color: $secondaryColor;
  font-weight: 400;
}

/*Contact Us*/

.message {
  @include message;
}

.contact {
  margin-top: 21px;
}

.mailContact {
  height: 89px;
}

.icon {
  color: $primaryColor;
}

.mailIconWrapper {
  height: 97px;
}

.mailIconSize {
  font-size: 30px;
}

.emailIconSize {
  font-size: 29px;
}

.phoneIconSize {
  font-size: 29px;
}

.fbIconSize {
  font-size: 35px
}

.contactText {
  font-size: 16px;
  float: right;
  width: 86%;
  margin: 5px 0px;
}

.boldText {
  font-weight: 500;
}

.hrTop {
  display: none;
}

.hr{
  margin: 30px 0;
}

.leftContactContent {
  width: 83vw;
  margin: 0 auto;
}

.rightContactContent {
  width: 83vw;
  margin: 0 auto;
}

.border {
  border: 1px solid black;
  border-radius: 3px;
}

.h4 {
  font-weight: 600;
}

.contactForm {
  margin: 17px 0;
}

.content {
  width: 100%;
  font-size: 15px;
  margin: 2% 0 6% 0;
}

.nameEmailHeight {
  height: 30px;
}

.messageHeight {
  height: 150px;
}

.fileBtn {
  padding: 5px 17px;
  font-size: 13px;
  color: $quaternaryColor;
  background-color: #FC6919;
  border: none;
  border-radius: 2px;
}

.titleforplant {
  float: right;
  width: 53%;
}

.contactReasons {
  list-style: none;
}

.formLI {
  margin: 9px 0;
}

.select {
  margin-right: 6px;
}

.submitBtn {
  margin: 0 21%;
}

@media only screen and (min-width: 768px) {

  .headerBar {
    height: 11vh;
  }

  .logoSize {
    top: 26%;
    left: 5%;
    left: 5%;
    width: 241px;
  }

  .logo {
    font-size: 24px;
  }

  .buttonPosition {
    top: 34%;
    width: 99px;
  }

  .btn {
    padding: 0.6em 1.2em;
  }

  .btnMenu {
    font-size: 16px;
  }

  .menuItemSize {
    padding: 1.05em;
  }

  .imgOpacity {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }

  .backgroundImgSize {
    height: 63vh;
  }

  .card {
    width: 768px;
    height: 379px;
    margin: auto;
  }

  .rowContent {
    top: 39%;
    right: 21%;
    width: 57%;
  }

  .rowHeading {
    font-size: 30px;
  }

  .blurbContainer {
    float: left;
  }

  .textBlurb {
    width: 385px;
    margin: 21px 0;
  }

  .homeText {
    padding: 36px;
  }

  .featureImg2Wrapper {
    display: block;
    float: right;
  }

  .featureImg2 {
    @include imgSettings;
    background-image: url(../img/walking.png);
  }

  .boxImg {
    @include tabletImgSize;
  }

  .footer {
    padding: 31px 20px;
    margin: 0;
  }

  /*Our Mission*/
  .heading {
    height: 120px;
    margin-bottom: 0;
  }

  .imgStaffWrapper {
    @include tabletImgSize;
    float: left;
  }

  .card1Text {
    float: right;
    padding: 32px 70px;
  }

  .card2Text {
    padding:  81px 76px ;
  }

  .imgRataWrapper {
    @include tabletImgSize;
    float: right;
  }

  /*Field Trips*/
  .message {
    // @include message;
    display: block;
    margin: 56px 130px;
  }

  .floatRightTrips {
    width: 263px;
    float: right;
  }

  .tripCard {
    width: 586px;
    height: 316px;
    margin: 35px auto;
  }

  .tripDetails {
    width: 240px;
  }

  .map {
    height: 249px;
    width: 256px;
  }

  .attendButtonWrapper {
      margin: 0;
  }

  /*Membership*/
  .memberPerks {
    display: none;
  }

  .membershipRightContent {
    width: 55vw;
    margin-top: 43px;
  }

  .memberSubmit {
    margin: 10% 32%;
  }

  /*Contact Us*/

  .hrTop {
    display: block;
    width: 50vw;
  }

  .hrBottom {
    display: none;
  }

  .contactFormContainer {
    float: right;
  }

}/*Tablet query ends**/

@media only screen and (min-width: 1281px) {

  .headerBar {
    height: 109px;
    background-color: $quaternaryColor;
  }

  .logoSize {
    top: 33%;
    left: 43vw;
  }

  .logo {
    color: $primaryColor;
  }

  .filler {
    height: 165px;
  }

  .heading {
    height: 106px;
  }

  .h2 {
    font-size: 32px;
    padding: 31px;
  }

  .buttonPosition {
    display: none;
  }

  .menu {
    display: block;
    background-color: $primaryColor;
  }

  .menuItem {
    display: inline-block;
    border: none;
  }

  .menuItemLinkClick{
    padding: 0;
  }

  .rowContent {
    right: 36%;
    width: 29%;
  }

  .rowHeading {
    font-size: 40px;
  }

  .backgroundImgSize {
    height: 100vh;
  }

  .card {
    width: 826px;
    height: 441px;
    border: 4px solid #C8C8C8;
    overflow: auto;
    padding: 27px;
    margin: 26px auto;
  }

  /*Field Trips*/
  .mainContainer {
    display: inline-block;
  }

  .tripsBGImg {
    background-image: url(../img/observing.png);
    background-position: right bottom;
  }

/*Meetings*/
  .meetingsBGImg {
    background-image: url(../img/fern-up.png);
    background-position: center;
  }
/*Meetings ends*/

/*Contact Us*/
  .memberBGImg {
    background-image: url(../img/toetoe.png);
    background-position: right center;
  }
/*Contact Us ends*/

/*Contact Us*/
  .contactBGImg {
    background-image: url(../img/rata-leaves.png);
    background-position: right top;
  }
/*Contact Us ends*/

  .leftBGImg {
    background-size: cover;
    height: 769px;
    position: relative;
  }

  .leftContent {
    float: left;
    width: 50vw;
    height: 769px;
  }

  .messagePosition {
    position: absolute;
    top: 10vw;
    width: 56%;
  }

  .message {
    padding: 42px 8%;
    margin: 0 21%;
    color: $quaternaryColor;
    font-size: 20px;
    line-height: 36px;
  }

  .messageBorder {
    @include border;
  }

  .rightContent {
    float: right;
    width: 50vw;
    margin: 16px 0;
  }


  /*Membership*/
  .memberPerks{
    display:block;
    text-align: center;
    padding: 42px 8%;
    margin: 0 21%;
    color: white;
    font-size: 20px;
    line-height: 36px;
    position: absolute;
    top: 1vw;
    right: 7%;
    width: 46%;
  }

  .perksHeading {
    font-size: 22px;
  }


  .perk {
    margin: 43px 0;
  }

  .memberIcon {
    font-size: 53px;
  }

  .memberText {
    font-size: 18px;
    font-weight: 300;
  }

  .membershipRightContent {
    width: 22vw;
    margin: 47px auto;
  }

  .memberSubmit {
    margin: 10% 32% 0 32%;
  }

  /*Contact Us*/

  .contactFormContainer {
    margin-top: 3%;
    margin-right: 10%;
  }

  .waysOfContact {
    display: inline-block;
    margin: 20% 0 18% 12%;
    width: 21vw;
  }

  .hrTop {
    display: none;
  }

  .hrBottom {
    display: block;
    width: 300px;
  }
}
