$mainFont-Family: 'Open Sans', sans-serif;
$primaryColor: #517A52;
$secondaryColor: #FF5109;
$tertiaryColor: #517A52;
$quaternaryColor: white;

@mixin mainBtn {
  width: 145px;
  height: 38px;
  font-family: $mainFont-Family;
  font-size: 14px;
  color: $quaternaryColor;
  background-color: $secondaryColor;
  border: none;
  border-radius: 6px;
}

@mixin bodyText {
  font-family: $mainFont-Family;
  font-size: 16px;
  font-weight: 300;
}

@mixin imgSettings {
  height: 379px;
  width: 379px;
  background-position:center;
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 1030;
}

.headerBar {
  position: relative;
  width: 100vw;
  height: 12vh;
}

.headerBarBackground {
  background-color: $primaryColor;
}

.logoSize {
  position: absolute;
  top: 22%;
  width: 225px;
  float: left;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $quaternaryColor;
}

/*Menu button*/
.buttonPosition {
  position: absolute;
  top: 22%;
  right: 5%;
  width: 62px;
  float: right;
}

.btn {
  padding: 0.5em 0.8em;
  border-radius: 7px;
}

.btnMenu {
  font-family: $mainFont-Family;
  font-size: 0.8em;
  text-transform: uppercase;
  color: $quaternaryColor;
  background-color: transparent;
  border: 2px solid $quaternaryColor;
}

/*Nav*/
.menu {
  display: none;
  list-style-type: none;
  text-align: center;
}

.menuSize {
  width: 100vw;
}

.menuItem {
  background-color: $primaryColor;
  border-top: 1px solid $quaternaryColor;
}

.menuItemSize {
  padding: 0.75em;
}

.menuItemLink {
  text-decoration: none;
  font-family: $mainFont-Family;
  font-size: 17px;
  color: $quaternaryColor;
}

.menuItemLinkClick {
  padding: 0.7em 4.9em;
}

/*Main*/
/*Feature Content*/
.mainContainer {
  // width: 100vw;
  // position: relative;
}

.backgroundImg {
  background-image: url(../img/leaf-bush.png);
  background-size: cover;
  background-position: right bottom;
}

.backgroundImgSize{
  height: 100vh;
}

.row1 {
  width: 100vw;
  position: relative;
}

.rowContent {
  position: absolute;
  top: 32%;
  right: 10%;
  width: 80%;
}

.rowHeading {
  font-family: $mainFont-Family;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color:$quaternaryColor;
}

.row1HeadingSize {
  width: 100%;
}

.JoinBtnPosition {
  margin: 27px auto 0 auto;
  width: 145px;
}

.btnJoinNow {
  @include mainBtn;
}

// .row2 {
//   width: 100vw;
// }

.textBlurb {
  width: 258px;
  margin: 24px auto;
}

.bodyText {
  @include bodyText;
}

.img {
  // height: 250px;
  // width: 250px;
  // background-position:center;
  // background-size: cover;
}

.featureImg2Wrapper {
  display: none;
}

.footer {
  width: 100vw;
  padding: 26px 20px;
  margin-top: 5%;
  background-color: $primaryColor;
}

.copyright {
  font-family: $mainFont-Family;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: $quaternaryColor;
}

@media only screen and (min-width: 768px) {

  .headerBar {
    height: 11vh;
  }

  .logoSize {
    top: 26%;
    left: 5%;
    width: 241px;
  }

  .logo {
    font-size: 24px;
  }

  .buttonPosition {
    top: 34%;
    width: 99px;
  }

  .btn {
    padding: 0.6em 1.2em;
  }

  .btnMenu {
    font-size: 16px;
  }

  .menuItemSize {
    padding: 1.05em;
  }

  .imgOpacity {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }

  .backgroundImgSize {
    height: 63vh;
  }

  .card {
    width: 768px;
    height: 379px;
    margin: auto;
  }

  .rowContent {
    top: 39%;
    right: 21%;
    width: 57%;
  }

  .rowHeading {
    font-size: 30px;
  }

  .blurbContainer {
    float: left;
  }

  .textBlurb {
    width: 385px;
    padding: 38px;
    margin: 21px 0;
  }

  .featureImg2Wrapper {
    display: block;
    float: right;
  }

  .featureImg2 {
    @include imgSettings;
    background-image: url(../img/walking.png);
  }

  .footer {
    padding: 31px 20px;
    margin: 0;
  }
}/*Tablet query ends**/

@media only screen and (min-width: 1920px) {

  .headerBar {
    // background-color: $quaternaryColor;
  }

  .logoSize {
    top: 33%;
    left: 42%;
    width: 14%;
  }

  .logo {
    // color: $primaryColor;
  }

  .buttonPosition {
    display: none;
  }

  .menu {
    display: block;
    background-color: $primaryColor;
  }

  .menuItem {
    display: inline-block;
    border: none;
    // padding: 0;
  }

  .menuItemLinkClick{
    padding: 0;
  }

  .rowContent {
    right: 36%;
    width: 29%;
  }

  .rowHeading {
    font-size: 40px;
  }

  .backgroundImgSize {
    height: 100vh;
  }

  .card {
    width: 826px;
    height: 439px;
    border: 4px solid grey;
    overflow: auto;
    padding: 27px;
    margin: 26px auto;
  }
}
